<link rel="stylesheet" href="styles/register.css">
<div class="login-card">
    <h1>Change Password</h1><br>
    <p>Please insert your current and then your new password.</p><br>

    <div>
        <input type="password" name="currentpass" ng-model="currentpass" placeholder="Current Password">
        <input type="password" name="newpass" ng-model="newpass" placeholder="New Password">
        <input type="password" name="repass" ng-model="repass" placeholder="Confirm New Password">
        
        <input type="submit" name="save" class="login login-submit" value="Change" ng-click="changepass();">

    </div>

</div>
