.frameContainer {
    width: 1000px;
    display: table;
    padding-top: 20px;
    padding-bottom: 20px;
}

.frameMenu {
    display: table-cell;
    vertical-align: top;
    width: 280px;
}

.frameContent {
    margin-left: 20px;
    display: table-cell;
    vertical-align: top;
    width: 100%;
}