[submodule "project/lib/phpmailer"]
	path = project/lib/phpmailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "phase2/report/settings/cvss3tex"]
	path = phase2/report/settings/cvss3tex
	url = https://github.com/AlexanderLill/cvss3tex.git
[submodule "phase4/report/settings/cvss3tex"]
	path = phase4/report/settings/cvss3tex
	url = https://github.com/AlexanderLill/cvss3tex.git
[submodule "phase5/report/settings/cvss3tex"]
	path = phase5/report/settings/cvss3tex
	url = https://github.com/AlexanderLill/cvss3tex.git
[submodule "project/lib/securimage"]
	path = project/lib/securimage
	url = https://github.com/dapphp/securimage.git
